<?xml version='1.0' encoding='utf-8'?>
<widget id="tv.assemble" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Assemble</name>
    <description>Assemble Mobile App</description>
    <author email="nathan.h.watkin@gmail.com" href="https://app.assemble.tv">
        Assemble
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="WKWebViewOnly" value="true" />

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>